/***FOOTER***/

.footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0;
    background: url("./background/bckg2.webp"), var(--whiteish) !important;
    background-position: center;
    background-size: cover;
    padding: 10px;
    color: var(--blackish) !important;
    box-shadow: 0 20px 30px 1px var(--blackish);
}

footer .container .row {
    display: flex !important;
    flex-direction: row-reverse !important;
}

.subFoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subFoot img {
  max-width: 220px;
}

.footer i {margin-right: 10px}


.footer p {
    text-align: left !important;
}

.footer a {
    color: var(--uniBlue) !important;
    margin: auto;
}
.footer a:hover {
    color: var(--uniOrange) !important;
}
.footLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footLogo img {
    max-width: 100px;
}

.footLogo h4 {
    color: var(--blackish) !important;
    margin-top: 15px;
    padding: 0;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.modalB {
    all: unset !important;
    cursor: pointer !important;
    margin: auto !important;
    width: 100% !important;
    color: var(--uniBlue) !important;
    text-align: center !important;
    border: none;
}

.modalB:hover,
.modalB:focus,
.modalB:active,
.modalB:visited {
    background: inherit;
    color: inherit;
    border: none;
}

.modal-title {
    color: var(--uniOrange);
}

.modal-header {
    border-color: var(--uniBlue);
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modal-body div {
    margin: 15px;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--whiteish);
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.lastF {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    /*font-family: "Font Awesome 5 Free";*/
    font-weight: 900;
    color: var(--whiteish);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--uniBlue);
    letter-spacing: 1px;
    box-shadow: none;
}
