/***MODAL***/

.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: auto; /**/
}
.react-responsive-modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.react-responsive-modal-container {
  height: 100%;
  margin-top: 40px;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.react-responsive-modal-modal {
  max-width: 50vw;
  width: 100%;
  height: auto;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background-color: var(--blackishBack);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 1.2rem;
  margin-top:  5vh;
  padding: 50px;
  border-radius: 5px;
  position: relative;
  overflow-y: auto;
  color: var(--blackish);
  border: solid 1px var(--blackishBack3);
}
.react-responsive-modal-modal h1 {
  text-transform: uppercase;
  color: var(--whiteish);
  text-align: center;
  font-size: 22px;
  align-self: center;
  margin: 0px auto 30px auto;
  padding-bottom: 5px;
  width: fit-content;
  border-bottom: solid 1px var(--greenish);
}
.react-responsive-modal-modal p {
  text-align: justify;
  font-size: 19px;
}
.react-responsive-modal-closeButton {
  position: absolute;
  z-index: 1500;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--greenish);
  border-radius: 5px;
  display: flex;
}
.react-responsive-modal-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: var(--greenish);
  background-color: white;
  border-radius: 5px;
  display: flex;
}

/*Personalisation*/
.modalButton {
  all: unset;
  cursor: pointer;
  background-color: inherit;
}
.modalButton:hover {
  color: var(--greenish);
}
.paraMentions {
  text-align: left;
  line-height: 15px;
  margin: 50px 0 50px 0;
}
.Pcenter {
  display: flex;
  color: unset;
  color: var(--greenish);
  justify-content: center;
}
.Pinline {
  display: flex;
}
.Pcenter2 {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  align-items: center;
}
.Pcenter2Bis{
  margin-top: 10px;
}
.Pcenter2 a{
text-decoration: none;
transform: scale(1);

}
.Pcenter2 a:hover{
transform: scale(1.02);
}
.CreatorLink {
  color: var(--greenish);
  margin-left: 5px;
}
.modalImg {
  margin: auto;
  margin-top: 50px;
}
.aProposImg {
  margin: 30px auto 0 auto;
}