/*MyShopStyle*/

html,
body,
main,
header,
header *,
.bg-light {
	color: white !important;
	background-color: #000000 !important;
}
header img,
footer img 
{
	filter: invert(100%);
}
.bg-light {
	text-align: center;
}
.bg-light h2 {
	color: white !important;
	/*background-color: #000000!important;*/
	font-size: 30px !important;
}
.card {
	color: white !important;
	border-radius: 5px;
	background-color: black;
}
.text-dark {
	color: white !important;
}
.card-img-top {
	border-radius: 5px 5px 0 0;
	transform-origin: center;
	transition: 0.5s;
	-webkit-transform: perspective(800px) rotateY(15deg);
	transform: perspective(800px) rotateY(15deg);
	margin-bottom: 25px;
}

.card-img-top:hover {
	transform: perspective(800px) rotateY(0deg);
}
.card-body {
	border-radius: 0 0 5px 5px;
	padding-top: 5px !important;
}
header a,
header i,
/*
footer a,
footer i,
footer h5,*/
.text-primary {
	color: white !important;
}
footer a,
footer i,
footer h5,
footer text,
footer p,
footer br,
.text-primary {
	color: #85dd91 !important;
}
.col-lg-3.align-self-lg-end.text-lg-right {
	display: none;
}

#title_section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 200px;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	background-image: url("https://noirdabsinthe.hiboutik.com/shop/image.php?img=img_back_food.jpg");
}
/*
footer
	> div
	> div.row.justify-content-lg-between.space-top-2.space-bottom-lg-2 {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;

	background-image: url("https://noirdabsinthe.hiboutik.com/shop/image.php?img=img_back_food.jpg");
}
*/
#detail_product_cat,
#detail_product_sku,
#productpageavailability {
	display: none;
}

#heroSlider,
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5),
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(6) {
	border: none !important;
}
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-7
	> input {
	text-align: center;
}
/*
#content > div.container.space-top-1.space-top-sm-2 > div > div.col-lg-5 > form > div:nth-child(6) > div > div > input{
	min-height: 150px!important;
	text-align: top;
}
*/
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div.mb-4
	> button, #content > div.container.space-top-1.space-top-sm-2 > div.alert > button {
	border-radius: 15px;
	background-color: #85dd91;
	color: black !important;
	border-color: #85dd91;
}
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> div:nth-child(1)
	> h1,
#detail_product_price_label,
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-7
	> small,
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(6)
	> div
	> div
	> small,
#detail_product_description_label {
	color: #85dd91 !important;
}
#content > div.container.space-top-2.space-lg-1 > div > div:nth-child(1) {
	max-width: unset;
	flex: unset !important;
	text-align: justify;
}
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-5.text-right
	> a.js-minus.btn.btn-xs.btn-icon.btn-outline-secondary.rounded-circle,
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-5.text-right
	> a.js-plus.btn.btn-xs.btn-icon.btn-outline-secondary.rounded-circle {
	color: #85dd91;
	border-color: #85dd91;
}
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-5.text-right
	> a.js-minus.btn.btn-xs.btn-icon.btn-outline-secondary.rounded-circle:hover,
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-5
	> form
	> div:nth-child(5)
	> div
	> div.col-5.text-right
	> a.js-plus.btn.btn-xs.btn-icon.btn-outline-secondary.rounded-circle:hover {
	background-color: #85dd91;
	color: black;
}
#content
	> div.container.space-top-1.space-top-sm-2
	> div
	> div.col-lg-7.mb-7.mb-lg-0
	> div
	> div
	> div.position-absolute.bottom-0.right-0.left-0.px-4.py-3, body > footer > div > div.row.justify-content-lg-between.space-top-2.space-bottom-lg-2 > div > h5 {
	display: none;
}
#detail_product_description_label{
	color: #85dd91!important;

}
#content > div.container.space-top-1.space-top-sm-2 > div > div.col-lg-5 > div:nth-child(1) > h1{
	color: white!important;
}
footer i{
	font-size: 28px;
}
footer i:hover, footer a:hover{
	background-color: unset!important;
}