/***RESPONSIVE***/

/**********1422************/
@media (max-width: 1422px) {
	
}

/**********1401************/
@media (max-width: 1401px) {
	
}

/**********1369************/
@media (max-width: 1369px) {
	
}

/**********1066************/
@media (max-width: 1066px) {
	nav li a,
nav li,
nav div {
  font-size: 13px;
  align-self: center;
  overflow: visible;
  text-align: center;
}
	
}

/**********992************/
@media (max-width: 992px) {
	nav p,
	nav button p,
	nav li a,
	nav li,
	nav div{
		font-size: 12px;	
	}
		nav h1{
			display: none;
		}
		nav .shortTitle{
			display: flex!important;
		}
	
}

/**********852************/
@media (max-width: 852px) {

  
nav{
  padding: 5px 20px  5px 0px;
}

	
	ul li ul {
		padding: 0;
		margin: 28px auto;
		width: 100%;
		justify-content: center;
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: var(--greenish);
	}
	ul li ul > * {
		padding: 0px !important;
	}
	ul li ul a,
	ul li ul button {
		color: var(--blackish) !important;
	}
	body,
	html {
		background-position: 40% center !important;
	}
	nav p,
	nav button p,
	nav li a,
	nav li,
	nav div {
		font-size: 15px;
	}
}

/**********768************/
@media (max-width: 768px) {
	
}
/**********767************/
@media (max-width: 767px) {
	
}

/**********688************/
@media (max-width: 688px) {
	
}
/**********425************/
@media (max-width: 425px) {
	
}
/**********382************/
@media (max-width: 382px) {
	
}
