/***STORIES***/

/**************************Sections***********************************/
.story0 {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  overflow: hidden;
}
/*Main Wrap*/
.storyWrap2 {
  padding: 0 25px 0 25px;
  z-index: -1;
  padding: 12vh 0 5vh 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background: url("./background/Stories.webp"), var(--blackish);
  font-family: "Cutive Mono", monospace;
  letter-spacing: -4px !important;
  /*animation: animMuse 50s infinite alternate both;*/
}
.top1,
.top2 {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.top1 {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.top2 {
  width: 90%;
  margin: 0 auto;
  padding-bottom: 50px;
}
/*Cards wrapper*/
.cardWrapper {
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-around;
}
.tagWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border: solid 1px var(--greenish);
  border-radius: inherit;
}
/**************************Images************************************/
.wave {
  width: 150px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
  mix-blend-mode: overlay;
}
.cog {
  height: 120px;
  mix-blend-mode: overlay;
}
/**************************Cards************************************/
.StoryCard {
  transform: scale(1);
  transition: 0.5s;
  margin: 25px;
  text-align: center !important;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1.5px var(--blackish);
  border-radius: 5px;
  background: url("./background/background4.webp"), var(--blackish);
  position: relative;
  box-shadow: 3px 3px 10px 2px var(--blackish);
}
.cardWrapper a {
  text-decoration: none;
}
.StoryCard:hover {
  transform: scale(1.02);
}
/*Story reading time*/
.readingTime {
  background-color: var(--blackish);
  position: absolute;
  border-radius: 5px;
  font-size: 18px;
  top: -10px;
  right: -10px;
  padding: 5px 10px 5px 5px;
  font-family: poppins;
  letter-spacing: 0;
  border: solid 1px var(--greenish);
}
.newTag2 {
  margin: 10px;
  font-size: 18px;
  background-color: unset;
  color: var(--whiteish);
  letter-spacing: 0px;
  font-family: "poppins";
}
/***************************Texts*************************************/
/*Title*/
.storyWrap2 h1 {
  padding-bottom: 12px;
  margin: 0 50px 0 50px;
  font-size: 70px;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  letter-spacing: 0px !important;
  text-transform: uppercase;
  text-shadow: 0px 0px 15px var(--blackish);
  align-self: center;
  color: var(--greenish);
}
/*details text*/
.storyWrap2 h2 {
  margin: auto;
  font-size: 32px;
  text-shadow: 0px 0px 10px var(--blackish);
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

.argu2{
  margin-top: 25px!important;
}
/*Story Title*/
.cardTitle {
  font-size: 80px;
  font-family: "Amatic SC", cursive;
  width: fit-content;
  border-bottom: solid 1px var(--greenish);
  border-bottom: solid 1px var(--whiteish);
  text-shadow: 0px 0px 10px var(--blackish);
}
/*Story Author*/
.cardAuthor {
  font-size: 40px;
  margin-bottom: 25px;
  border-bottom: unset;
  padding: 0;
  text-shadow: 0px 0px 10px var(--blackish);
  text-align: justify;
  letter-spacing: -5px !important;
  color: var(--greenish);
}
