/***TEAM***/

/*Logger*/
#team0 {
  padding: 50px;
  align-self: center;
  align-items: center;
  background-color: var(--blackishBack);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  opacity: 0;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  border-radius: 3px;
}
.login-wrapper label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
.login-wrapper input {
  width: 300px;
  align-self: center;
  color: var(--blackish);
}
/*Main Content*/
#team {
  border-radius: 3px;
  padding: 50px;
  margin: 125px auto;
  align-self: center;
  max-width: 80vw;
  background-color: var(--blackishBack);
  position: relative;
  opacity: 0;
  -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*Title and info paragraph*/
.TeamTitle {
  color: var(--greenish);
  margin-bottom: 50px !important;
}
.TeamTitle,
.TeamSub {
  text-align: center;
}
.TeamSub {
  font-size: 22px;
  color: var(--whiteish);
  margin: auto;
  border-bottom: unset;
}

/*Modules left & right*/
.teamWrap {
  display: flex;
  justify-content: space-around;
}
.teamLeft,
.teamRight {
  padding: 15px;
}
/*Modules Titles*/
.secTitle {
  color: var(--greenish);
  font-size: 20px;
  width: fit-content;
  margin: 25px 0 25px 0;
  padding-bottom: 5px;
  border-bottom: solid 1px var(--greenish);
}
/*Modules links and text*/
#team p {
  margin: 15px auto 15px auto;
  transform: scale(1);
  transition: 0.3s;
}
#team a {
  margin: 25px auto 25px auto;
  width: fit-content;
  text-decoration: none;
}
#team p:hover {
  transform: scale(1.02);
}