/****This Universe****/

/*This Universe and Search pages specificities*/
#thisUniverse,
#thisSearch {
    width: 100vw;
    height: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 13vh 0 10vh 0;
    background-attachment: fixed !important;
    background-size: cover;
    background-position: 50% 10% !important;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    -webkit-animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/*Background selection according to selected universe*/
.MemoriaU {
    background: url("../../public/img/Background/Mémoria.webp");
}
.FuturiaU {
    background: url("../../public/img/Background/Futuria.webp");
    z-index: 750;
}
.OnyriaU {
    background: url("../../public/img/Background/Onyria.webp");
}
.UrbanaU {
    background: url("../../public/img/Background/Terra Urbana.webp");
}
.RougeU {
    background: url("../../public/img/Background/Rouge d'Absinthe.webp");
}
.FolieU {
    background: url("../../public/img/Background/L'Antre de la Folie.webp");
}
.FleurU {
    background: url("../../public/img/Background/Fleur d'Absinthe.webp");
}
.ChrysalisU {
    background: url("../../public/img/Background/Chrysalis.webp");
}
.PousseU {
    background: url("../../public/img/Background/Pousse d'Absinthe.webp");
}
.HorsCollecU {
    background: url("../../public/img/Background/Hors Collection.webp");
}

#thisUniverse .container,
#thisSearch .container {
    padding: 0 30px 0 30px;
}

/*Titles*/
#thisUniverse h1,
#thisSearch h1 {
    text-align: center;
    font-size: 65px;
    text-shadow: 5px 2px 12px var(--blackish);
    color: var(--whiteish);
    transition: 0.6s;
    text-transform: uppercase;
    animation: anipers3 15s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
        alternate both;
    margin-bottom: 25px;
    pointer-events: none;
}
.UP {
    margin-bottom: 100px;
}
#thisUniverse .row,
#thisSearch .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
#thisUniverse .book,
#thisSearch .book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 150px;
}
#thisUniverse .container .row .book:nth-child(even),
#thisSearch .container .row .book:nth-child(even) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#thisUniverse .container .row .book:last-child,
#thisSearch .container .row .book:last-child {
    margin-bottom: 50px;
}

/*Both Part*/
.bookLeft,
.bookRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.book:nth-child(even) .bookRight {
    animation: swing-in-left-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s
        both;
}
/*Left Part*/
.bookLeft {
    width: 30%;
    position: relative;
    animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}
.book:nth-child(even) .bookLeft {
    animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.3s
        both;
}
.bookLeft img {
    transform-origin: center;
    transition: 0.8s;
    box-shadow: 4px 4px 10px 2px var(--blackishBack2);
    position: relative;
}
.imgWrap {
    position: relative;
}
.extrait {
    bottom: -1px;
    left: -1px;
    position: absolute;
}
.extrait p {
    background: var(--whiteish);
    padding: 10px 15px 10px 5px !important;
    border-radius: 0 15px 0 0;
    box-shadow: 1px 0px 10px -2px var(--blackish);
    border: solid 1px var(--blackish);
    pointer-events: none;
}
.extrait:hover p {
    background-color: var(--greenish);
    pointer-events: none;
    transition: 1s;
}
.secondaryInfos {
    display: flex;
    flex-wrap: wrap;
    width: 78%;
}
.secondaryInfos p {
    display: flex;
    justify-content: center;
    padding: 2px !important;
    font-size: 18px !important;
    width: 50%;
    font-weight: 550 !important;
}
.buyLinks,
.ReviewLinks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: swing-in-bottom-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        1.6s both;
}
.ReviewLinks {
    width: 70%;
    margin-top: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.ReviewLinks p {
    font-size: 18px !important;
    font-weight: bold !important;
}
.buyLinks a,
.ReviewLinks a {
    text-decoration: none;
    color: var(--whiteish);
    background-color: var(--blackish);
    padding: 10px;
    font-size: 16px;
    text-align: center;
    align-self: center;
    margin: 20px 10px 0 10px;
    border-radius: 5px;
}
.buyLinks a {
    border: solid 1px var(--blackish);
    box-shadow: -3px 3px 5px 0.5px var(--blackishBack2);
}
.ReviewLinks a,
.ReviewLinks p {
    background-color: unset;
    padding: 00px;
    font-size: 36px;
    margin: 0px;
    color: var(--blackish) !important;
}
.ReviewLinks a {
    margin: 2px;
}
.ReviewLinks a:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
.buyLinks a:hover {
    transition: 0.4s;
    color: var(--greenish);
    box-shadow: 0px 0px 5px 0.5px var(--blackishBack2);
    transform: scale(1.1);
}
#thisUniverse .container .row .book:nth-child(even) img {
    box-shadow: 4px 4px 8px 1px var(--blackishBack2);
}
#thisUniverse .container .row .book:nth-child(even) .bookRight {
    box-shadow: -4px 4px 10px 2px var(--blackishBack2);
}

/*Right Part*/
.bookRight {
    width: 65%;
    padding: 7px;
    padding-bottom: 50px;
    color: var(--blackish);
    border-radius: 5px;
    background-color: var(--whiteishTrans);
    box-shadow: 4px 4px 8px 1px var(--blackishBack2);
    animation: swing-in-right-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275)
        1.3s both;
    background: url("./background/background3.webp");
    pointer-events: none;
}
.book h2,
.book h3 {
    margin: 10px 0 0 0;
    text-shadow: 1px -1px 1px var(--whiteishTrans);
}
.book h2 {
    font-size: 28px;
    padding-bottom: 4px;
    border-bottom: solid 2px var(--blackish);
}
.sousTitre {
    border: unset !important;
    color: var(--whiteish);
    text-shadow: unset !important;
    padding: 7px;
    background-color: var(--blackishBack2);
    font-size: 22px !important;
    border-radius: 5px;
}
/*
.audiobook h2 {
    background-color: #f09e2a;
    transition: 0.5s;
    color: var(--blackish);
}
*/
.audioTag p {
    background-color: #f09e2a !important;
    transition: 0.5s;
    color: var(--blackish) !important;
    border: solid 1.5px #f09e2a !important;
}
.book h3 {
    font-size: 24px;
    margin-left: 10px !important;
}
.book p {
    color: var(--blackish);
    text-align: justify;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    font-weight: 450;
    margin: 0;
}
.subTitle {
    margin: 20px;
    display: flex;
    text-align: left;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.subTitle p {
    color: var(--whiteish);
    background-color: var(--blackish);
    padding: 4px;
    font-size: 14px;
    text-align: center;
    align-self: center;
    margin: 3px 10px 3px 10px;
    border-radius: 5px;
    width: unset;
}
.pSérie {
    position: absolute;
    border: solid 1.5px var(--blackish);
    bottom: -1px;
    border-radius: 5px 0 5px 0;
    background-color: var(--blackish);
    right: 0;
    transition: 1s;
}
.pSérie p {
    color: var(--whiteish);
    pointer-events: none;
}
.pSérie:hover {
    background-color: var(--greenish);
}
.pSérie:hover p {
    color: var(--blackish);
}
.subTitle a,
.pSérie {
    pointer-events: auto;
    text-decoration: none !important;
}
.subTitle a p {
    text-decoration: none !important;
    pointer-events: none;
    border: solid 1.5px var(--blackish);
}

.subTitle a:hover p {
    transition: 0.5s;
    transform: scale(1.1);
    background-color: var(--greenish) !important;
    color: var(--blackish) !important;
    border: solid 1.5px var(--blackish) !important;
}

/*Restyling depending on background colors*/
.FolieU img {
    box-shadow: 4px 4px 20px 2px #232323 !important;
}
.RougeU .ReviewLinks a,
.FolieU .ReviewLinks a,
.FleurU .ReviewLinks a,
.PousseU .ReviewLinks a,
.OnyriaU .ReviewLinks a,
.UrbanaU .ReviewLinks a,
.RougeU .secondaryInfos p,
.FolieU .secondaryInfos p,
.FleurU .secondaryInfos p,
.OnyriaU .secondaryInfos p,
.UrbanaU .secondaryInfos p,
.PousseU .secondaryInfos p,
#thisSearch .ReviewLinks a,
.HorsCollecU .ReviewLinks a,
#thisSearch .secondaryInfos p,
.HorsCollecU .secondaryInfos p {
    color: var(--whiteish) !important;
}
.RougeU .bookRight,
.FolieU .bookRight,
.FleurU .bookRight,
.PousseU .bookRight,
.OnyriaU .bookRight,
.UrbanaU .bookRight,
#thisSearch .bookRight,
.HorsCollecU .bookRight {
    background-color: var(--whiteishTrans3);
}
.authorList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.authorList a {
    color: inherit;
    text-decoration: none;
    pointer-events: auto;
    transition: 0.5s;
}
.authorList a:hover {
    transform: scale(1.05);
}

/*Re-Style Folie Background anim**/
.FolieU .FolieAnim {
    height: 100%;
    width: 100vw;
}
.FolieU .FolieAnim .absolute {
    position: fixed;
    left: 40%;
    top: 30%;
}

/****Search page****/
#thisSearch {
    background: url("../../public/img/Background/Hors Collection.webp");
}
.targetH1 {
    font-size: 60px !important;
    margin-bottom: 7vh !important;
}
