/***INDEX***/

/***COMPONENTS STYLES***/
@import "./style/animations.css";
@import "./style/header.css";
@import "./style/BackgroundParticleAnim.css";
@import "./style/BackgroundParticleAnim2.css";
@import "./style/intro.css";
@import "./style/footer.css";
@import "./style/modal.css";
@import "./style/form.css";
@import "./style/team.css";
@import "./style/createurs.css";
@import "./style/univers.css";
@import "./style/story.css";
@import "./style/stories.css";
@import "./style/universesAnimations.css";
@import "./style/thisUniverse.css";
@import "./style/responsive.css";

/***FONTS***/
/*
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
*/

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body,
html {
  /*General*/
  font-family: "Mulish", serif, arial;
  font-display: swap;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh;
  max-width: 100vw;
  color: var(--whiteish);
  width: 100%;
  height: 100vh;
  background-color: var(--whiteish);
  background: url("./style/background/background.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  /*Color Variables*/
  --blackish: #0e0d0d;    
  --whiteish: #f9f7fd;
  --uniOrange: #e84e24;
  --uniBlue: #21759c;  
}
a,
p {
  font-size: 18px;
  color: var(--blackish);
  transition: 0.3s;
  text-decoration: none;
}
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}