/***INDEX***/

/***COMPONENTS STYLES***/
@import "./style/animations.css";
@import "./style/header.css";
/*@import "./style/intro.css";*/
@import "./style/footer.css";
@import "./style/responsive.css";

/***FONTS***/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');


body,
html {
  /*General*/
  font-family: "Mulish", serif, arial;
  font-display: swap;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
  min-height: 100vh;
  max-width: 100vw;
  color: var(--whiteish);
  width: 100%;
  height: 100vh;
  /*background-color: var(--whiteish);
  background: url("./style/background/background.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
*/
  /*Color Variables*/
  --blackish: #0e0d0d;    
  --whiteish: #f9f7fd;
  --uniOrange: #e84e24;
  --uniBlue: #21759c;  
}
a,
p {
  font-size: 18px;
  color: var(--blackish);
  transition: 0.3s;
  text-decoration: none;
}
a:focus,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}


/*Main background anim*/
body {
    animation: theme 21s linear infinite;
}
/*
body a:hover {
    color: var(--secondary);
}
*/
body:after,
body:before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    width: 100vw;
    height: 100vh;
    width: 100vmax;
    height: 100vmax;
    background: rgba(255, 255, 255, 0.7);
    animation: background 90s linear infinite;
    pointer-events: none;
}

body:after {
    left: 15vw;
}

body:before {
  right: 15vw;
  animation-direction: alternate-reverse;
}

@keyframes theme {
    0% {
        background: var(--uniOrange);
    }

    100% {
        background: var(--uniBlue);
    }
}

@keyframes background {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Video background anim*/
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    filter: invert(100%);
}

/*Nav contact button anim*/
@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
